/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

:root{
    --navbar-height:60px;
    
}

/* Navigation Bar */

#navbar{
    /* position: sticky; */
    display: flex;
    align-items: center;
    top: 0px;
    /* height: 80px; */
}

#navbar::before{
    content: "";
    background-color: black;
    width: 100%;
    height: 19%;
    z-index: -1;
    opacity: .75;
    position: absolute;

}
#navbar img{
    height: 113px;
    margin-left: 10px;
    padding: 0px 5px;
    margin-top: 0px;

}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.8rem;
}

#navbar ul li a{
    text-decoration: none;
    padding: 0px 10px;
    margin: 10px 10px;
  color: white;
  font-family: 'Lumanosimo', cursive;

}
#navbar ul li a:hover{
    
  color: black;
  background-color: white;
  border-radius: 15px;

}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 60px auto;
    /* border: 2px solid red; */
    width: 600px;
    height: 539px;

}

#home::before{
    content: "";
    background: url(../Img/Home\ Background\ edited.jpg);
    background-size: cover;
    /* object-fit: cover; */
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: .7;
    position: absolute;
}
#home P{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lumanosimo', cursive;
    margin-top: 20px;
    font-weight: bold;
    
}

/* Services Section */


    
#services{
    display: flex;
justify-content: center;
    align-items: center;
    
    /* justify-content: center; */
    
}

#services::before{
    content: "";
    background: url(../Img/Services\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 68%;
    z-index: -1;
    opacity: .5;
    position: absolute;
}
#box{
    
    border: 4px solid black;
    width: 30vw;
    height: 290px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    margin: 0px 10px;
    background-color: #cfc4c4;

}

#box p{
    font-family: 'Lumanosimo', cursive;
font-weight: bold;
}
#box img{
    
    border-radius: 100%;
    height: 150px;
    
}

/* Client Section */

#client-section{
    position: relative;
    margin-top: 67px;
    
}

#client-section::before{
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
    position: absolute;
}

#Clients{
    
    display: flex;

    align-items: center;
    justify-content: center;
   
    
}
#Clients img{
    
    height: 20vh;
    border-radius: 100%;
    margin: 15px 60px;
    border: 2px solid black;

}
.client-item{
    padding: 10px;
}

/* Contact Section */

#contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
}

#contact-section::before{
    content: "";
    background: url(../Img/contact\ us\ new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 77%;
    position: absolute;
    z-index: -1;
    opacity: .9;
}
#contact-box{
    width: 200px;
}
.form-group label{
    font-size: 1.20rem;
    font-family: 'Lumanosimo', cursive;
    font-weight: bold;



}
.form-group input{
    border-radius: 10px;
    width: 350px;
    height: 30px;
    box-shadow: 2px 2px 2px;
    margin: 5px;

}
.form-group ::placeholder{
  font-size: 1.2rem;

}
.form-group textarea{
    border-radius: 10px;
    width: 350px;

}

footer{
    background-color: black;
    color: white;
}
/* Utility Classes */

.h-primary{
    font-size: 2.8rem;
    font-family: 'Oswald', sans-serif;
}
.h-secondary{
    font-size: 2.0rem;
    font-family: 'Oswald', sans-serif;
}

.center{
    text-align: center;
}

.btn{
    border-radius: 10px;
    background-color: blueviolet;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
}
.btn:hover{
    font-size: 1.7rem;
    font-weight: bold;
}